old/external/*
old/models/*
.statbot/*
old/data/tables.jsonl
old/data/
old/data2/
old/data_ttl/
.ipynb_checkpoints
*.csv
old/data_matching/
old/data/*
.Rproj.user
sql/
sql/*
log/*
!data
!data/*
!data/*.csv
data/values/11001_CH.csv
.Rhistory
sqlnet.log
__pycache__/
